@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-bricolage);
}

:root {
  --brand-black: #313131;
  --brand-white: #EDEDED;
  --brand-color: #1E3765;
  --duration-animate: 250ms;

  --header-text-color: var(--brand-color);
  --text-color: 0 0 0;
}

.dark {
  --header-text-color: var(--brand-color);
  --text-color: 255 255 255;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6 {
  @apply transition-colors; 
  transition-duration: var(--duration-animate);
  color: var(--header-text-color);
  font-family: var(--font-bebas);
}

h1 {
  @apply transition-colors; 
  transition-duration: var(--duration-animate);
  color: var(--header-text-color);
}

p {
  @apply transition-colors; 
  transition-duration: var(--duration-animate);
}
