@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-p);
}

:root {
  --brand-white: #ffffff;
  --brand-black: #000000;
  --brand-color-1-l: #1E3765;
  --brand-color-1-d: #fff;
  --duration-animate: 1000ms;
  --header-text-color: var(--brand-color-1-l);
  --text-color: 0 0 0;
}

.dark {
  --header-text-color: var(--brand-color-1-d);
  --text-color: 0 0 0;
}

section {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

h2,
h3,
h4,
h5,
h6 {
  @apply transition-colors;
  transition-duration: var(--duration-animate);
  color: var(--header-text-color);
  font-family: var(--font-header);
}

h1 {
  @apply transition-colors;
  transition-duration: var(--duration-animate);
  color: var(--header-text-color);
}

p {
  @apply transition-colors;
  transition-duration: var(--duration-animate);
}
